.clear {
    clear: both !important;
    float:none !important;
    margin:0px !important;
    padding:0px !important;
    height:0px !important;
    width:0px !important
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

img {
    display:block;
}

.oldBrowser{
    display: none !important
}
.center{
    width:960px;
    margin:0 auto;
    text-align:left;
    position: relative;
}
.inner-center{
    padding: 0 10px;
}

body {
    background:#f3f4f5;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    line-height:20px;
    color:#333333;
    font-weight: 300;
}

a {
    text-decoration:none;
}
.brand-icon {
    color:#ffffff;
    font-weight:bold;
}

.box-right{
    float: right;
}
button, input[type="submit"]{
    background:none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.header-controlMenuButton svg{
    fill:#fff;
}

#hit-menu{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 20px;
    height: 100%;
    background-color: transparent;
    display: none;
}

/*HEADER*/
#header{
    position: fixed;
    height: 110px;
    width: 100%;
    left:0;
    top: 0;
    z-index: 10;
}
.header-topo{
    background-color: rgba(0, 0, 0, 0.7);
    height: 60px;
    position: relative;
}

#header .brand-icon{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 80px;
    height: 24px;
    margin: -12px -40px 0 0;
}
.header-controlMenuButton{
    position: absolute;
    left: 200px;
    height: 60px;
    width: 60px;
    background-color:
    rgba(0, 0, 0, 0.7);
    text-align: center;
    cursor: pointer;
}
.header-controlMenuButton .spt{
    display: inline-block;
}
.header-controlMenuButton:hover{
    background-color: #005a3b;
}
.header-search{ width: 260px;
    float: left;
    position: absolute;
    left: 0;
}
.header-search .spt{
    float: left;
    margin: 15px 25px 0 17px;
}
.header-search input{
    float: left;
    font-family: 'Roboto',
    sans-serif;
    color: #9a9a9a;
    font-size: 14px;
    margin-top:
    15px;
    border: none;
}
.header-menu{
    height: 50px;
}
#header .menu-modulos{
    float: left;
    width: 100%;
    height: 50px;
}
#header .menu-modulos .menu-modulosInner{
    padding: 0 120px 0 280px;
}
#header .menu-modulos .menu-modulosWrapper{ 
    /*overflow-x: scroll;*/
    display: inline-block;
    width: 50%;
    text-align: right;
}
#header .menu-modulos .menu-modulosBt{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
}
#header .menu-modulos .menu-modulosBt-mainBt{
    display: block;
    font-weight: normal;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #848484;
}
#header .menu-modulos .menu-modulosFeed{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    left: 0;
    display: none;
    background-color: #4c4c4c;
}
#header .menu-modulos .menu-modulosBt:hover .menu-modulosFeed{
    display: block;
}
#header .menu-modulos .menu-modulosBt:hover .menu-modulosBt-mainBt{
    color: #333333;
}
.header-nomeEmpresa{
    margin: 17px 0 0 20px;
    float: left;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}
.header-nomeEmpresa_mobile{
    margin: 20px 0 0 5px;
    display: none;
}

.button-menu-mobile{
    height: 80px;
    display: none;
    opacity: 0;
    cursor: pointer;
}
.button-menu-mobile{
    height: 60px;
    float: left;
    width: 40px;
    margin-left: 10px;
    display: none;
}
.button-menu-mobile .box-stripes{
    position: relative;
    width: 20px;
}
.button-menu-mobile span{
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    height: 2px;
    top: 0;
}
#header .stripe-top{
    margin-top: -6px;
}
#header .stripe-bottom{
    margin-top: 6px;
}

#header .header-inner{
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e6;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.1);
}
/*------*/
/*MENU*/

#menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
    width: 260px;
}
#menu .menu-wrapper-inner{
    padding-top: 110px;
}
#menu .menu-wrapper{
    position: relative;
    overflow-x: hidden;
}
#menu .menu{
    width: 260px;
    float: left;
}
#menu .menu-item{
    position: relative;
}
.menu-item.border {
    border-bottom: 2px solid rgba(0, 0, 0, 0.29);
    padding-bottom: 25px;
}
#menu .menu-item:hover{
    background-color: #fafafa;
}
#menu .menu-item a{
    padding: 15px 65px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #333333;
    display: block;
    text-transform:
    capitalize;
}
#menu .menu-item .spt{
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -5px;
}
#menu .menu-slider{
    position: relative;
    width: 2000px; left:0;
}
#menu .submenu{
    display: none;
}
#menu .submenu-back{
    border-bottom: 1px solid #eeeeee;
}
#menu .submenu-back .spt{
    left: 25px;
}
#menu .submenu-back a{
    padding-left: 40px;
    font-size: 12px;
}
.header-menu{
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    width: auto;
    white-space: nowrap;
}
.menu-box{
    overflow: auto;
    position: relative;
    height: 100%;
}

.menu-header{
    position: absolute;
    z-index: 10;
    border-bottom: 1px solid #e4e5e6;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.1);
}

.shape-remove-shadow_white{
    position: absolute;
    background: #ffffff;
    height: 50px;
    width:10px;
    right: -3px;
    top: 60px;
}
.shape-remove-shadow_green{
    position: absolute;
    background: whitesmoke;
    height: 60px;
    width:10px;
    right: -3px;
    top: 0;
}

.menu-mobile-background{
    opacity: 0;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background:rgba(0,0,0,.8);
}

/*menu closed*/

/********/
#content{
    width: 100%;
    position: relative;
}
#content .content-inner{
    padding: 110px 0 0 260px;
}
#content .content-wrapper{
    padding: 40px;
}
#content .content-box{
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e6;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 20px;
    min-height: 500px;
}
#content .content-title{
    font-size: 24px;
    line-height: 28px;
    color: #4c4c4c;
    font-weight: 300;
    margin-bottom: 5px;
    display: block;
}
#content .content-titleSection{
    margin-bottom: 15px;
}
#content .breadcrumb-link{
    color: #929394;
    display: inline-block;
    font-size: 14px;
}
#content .breadcrumb-separator{
    display: inline-block;
}
#content .breadcrumb-link_ativo{
    color: #afb0b1;
}
#content .content-boxInner{
    padding: 20px 0px 0px 20px;
}
.button-actions{
    position: fixed;
    bottom: 0;
    right: 40px;
    cursor: pointer;
}
.borderradius .button-actions{
    background-color: #4c4c4c;
    width: 56px;
    height: 56px;
    bottom: 20px;
    right: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 4px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 4px 10px 0px rgba(0, 0, 0, 0.6);
}
.borderradius .button-actions .spt{
    display: none;
}
.borderradius .button-actions .plus{
    position: absolute;
    width: 14px;
    height: 14px;
    top:50%;
    left: 50%;
    margin: -7px 0 0 -7px;
}
.borderradius .button-actions .plus .vert{
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    left: 6px;
    top: 0;
}
.borderradius .button-actions .plus .hor{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    top: 6px;
}
.borderradius .button-actions:hover{
    background-color:#006945;
}
.borderradius .button-actions.active .vert{
    display: none;
}
.boxWrapperActions{
    position: fixed;
    bottom: 90px;
    right: 80px;
}
.boxWrapperActions-wrapper{
    display: none;
}
.boxWrapperActions-box{
    border: 1px solid #bebebe;
}
.boxWrapperActions .boxWrapperActions-box{
    background-color: #ffffff;
    border-color:#e6e6e6;
    min-width: 130px;
    -webkit-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.boxWrapperActions .boxWrapperActions-title{
    border-bottom: 1px solid #dcdcdc;
    padding: 12px 20px; font-weight: 400;
}
.boxWrapperActions ul{
    padding: 15px 0;
}
.boxWrapperActions ul li:hover{
    background-color: #eeeeee;
}
.boxWrapperActions ul li a{
    padding: 5px 20px;
    display: block;
}
.boxOptions{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
}
.boxOptions .boxOptions-item_language{
    float: left;
}
.boxOptions .boxOptions-item_user{
    float: left;
}
.boxOptions .boxOptions-button{
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}
.boxOptions .boxOptions-button.active, .boxOptions .boxOptions-button:hover{
    background-color: #ececec;
}
.boxOptions .boxOptions-item{
    position: relative;
}
.boxOptionsWrapper{
    position: absolute;
    right: 0;
    top: 60px;
}
.boxOptionsWrapper-container{
    display: none;
}
.boxOptionsWrapper-content{
    background-color: #ffffff;
    border-color:#e6e6e6;
    min-width: 130px;
    -webkit-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 6px 30px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.boxOptionsWrapper-content ul li:hover{
    background-color: #eeeeee;
}
.boxOptionsWrapper-content ul li a{
    padding: 5px 20px;
    display: block;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    #header .brand-icon{
        right: 0;
        margin-right: 20px;
    }
    #header .menu-modulos .menu-modulosWrapper{
        margin-left: 0 !important;
    }
    #menu{
        z-index: 999;
    }
    #menu{
        left: -260px;
        opacity: 0;
    }
    #hit-menu{
        display: block;
    }
    #header .button-menu-mobile{
        display: block;
        opacity: 1;
    }
    #header .menu-modulos .menu-modulosInner{
        padding: 0;
    }
    .shape-remove-shadow_green, .shape-remove-shadow_white{
        display: none;
    }
    #content .content-inner{
        padding-left: 0 !important;
    }
    #content .content-wrapper{
        padding: 20px 10px;
    }
    .header-nomeEmpresa_mobile{
        font-size: 14px;
    }
    .borderradius .button-actions{
        right: 30px;
        width: 40px;
        height: 40px;
    }
    .borderradius .boxWrapperActions{
        bottom: 60px;
        right: 80px;
    }
}

.content-box__title {
    text-align: center;
    font-weight: bolder;
    padding-top: 15px;
    font-size: x-large;
    text-transform: capitalize;
}

.m-icon {
    position: absolute;
    top: 30%;
    margin-top: -10px;
    margin-left: 15px;
}

.material-icons {
    font-size: 30px;
}

.menu-item__title {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 15px;
}

.menu-item__support {
    text-align: center;
}

.notice-board-wrap{
    margin: 25px;
}

.notice-board {
    border: 1px solid rgba(0, 0, 0, 0.29);;
    min-height: 300px;
    -moz-box-shadow: 2px 2px 3px 4px #ccc;
    -webkit-box-shadow: 2px 2px 3px 4px #ccc;
    box-shadow: 2px 2px 3px 4px #ccc;
    box-shadow: 2px 2px 3px 4px #ccc;
    border-radius: 3px;
}

.progress {
    max-width: 70%;
    padding-left: 20px;
}

.progress-val {
  float: right;
  margin-left: 15px;
  font: bold 15px/34px Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 25px;
  top: 70%;
  margin-top: -5px;
}

.progress-bar {
  display: block;
  overflow: hidden;
  height: 8px;
  margin: 13px 0;
  background: #b8b8b8;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 60%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
}

.progress-in {
  display: block;
  min-width: 8px;
  height: 8px;
  background: #4c4c4c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

/*For the Overview content*/
.lower h3, .lowercontent h3 {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.lower {
    padding: 30px;
}

.lower_spacing {
    padding: 7px 30px;
}

#quote {
    width: 90%;
    height: 25em;
}


.leftquote {
    position: relative;
    left: 13%;
    left: 15%;
    top: 40px;
}

.rightquote {
    position: relative;
    right: 15%;
    top: 10px;
}

/*Speech Bubble*/
.bubble {
    position: relative;
    display: inline-block;
    max-width: 250px;
    min-height: 1.5em;
    padding: 20px;
    background: #ffffff;
    border: #7f7f7f solid 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.leftquote .bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 10%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 2;
}

.leftquote .bubble:before {
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(10% - 3px);
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #7f7f7f transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.rightquote .bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 70%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 2;
}

.rightquote .bubble:before {
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(70% - 3px);
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #7f7f7f transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.lowercontent {
    padding-bottom: 30px;
}

.lowercontent .center {
    display: block;
    margin: auto;
}

.lower a, .lowercontent a {
    text-decoration: none;
    color: #000;
}

.lowercontent a:hover {
    color: #000;
}

.lowercontent_border {
    border-right: 1px solid rgb(0,0,0);
}

.lowercontent_spacing li {
    padding: 1px;
}

.lowercontent-img_dimensions {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
}

.calendar {
	background: #4c4c4c;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 501px;
    /* perspective: 1000px; */
    transition: .9s;
    transform-style: preserve-3d;
    width: 97%;
    margin-bottom: 25px;
    margin-top: 25px;
}

/* Front - Calendar */
.front {
	transform: rotateY(0deg);
}

.current-date {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
.current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
}

.week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
}

.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}

.last-month {
	opacity: .3;
}

.weeks span {
	padding: 10px;
}

.weeks span.active {
    border-radius: 50%;
    border: 1px solid whitesmoke;
}
.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}

.event {
	position: relative;
}

.event:after {
	content: '•';
	color: whitesmoke;
	font-size: 1.4em;
	position: absolute;
	right: -4px;
	top: -4px;
}

/* Back - Event form */

.back {
	height: 100%;
	transform: rotateY(180deg);
}

.back input {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
    padding: 30px 40px;
    width: 89%;
}
.info {
	color: #dfebed;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.2em;
	padding: 30px 40px;
}

.info div:not(.observations) {
	margin-bottom: 40px;
}

.info span {
	font-weight: 300;
}

.info .date {
	display: flex;
	justify-content: space-between;
}

.info .date p {
	width: 50%;
}

.info .address p {
	width: 100%;
}
.actions {
    bottom: 0;
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.actions button {
	background: none;
	border: 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
	width: 50%;
}

.actions button:first-of-type {
    border-right: 1px solid rgb(255, 255, 255);
}
.actions button:hover {
	background: #497285;
	cursor: pointer;
}

.actions button:active {
	background: #5889a0;
	outline: none;
}

/* Flip animation */

.flip {
	transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
}

.team-mood {
    margin: 25px;
}


/****************************/
/*RESPOSIVE*/
/****************************/

.resp-box{
    float:left; width: 100%;
}

.col-1{
    width:100%;
}
.col-2, .col-1-2, .col-5-10, .col-4-8, .col-3-6, .col-2-4{
    width:50%;
}
.col-3, .col-1-3, .col-3-9, .col-2-6 {
    width:33.3333%;
}

.col-4,.col-1-4,.col-2-8{
    width:25%;
}
.col-5, .col-1-5, .col-2-10{
    width:20%;
}
.col-6, .col-1-6 {
    width:16.6666%;
}
.col-7, .col-1-7{
    width:14.2857%;
}
.col-8,.col-1-8{
    width:12.5%;
}
.col-9,.col-1-9{
    width:11.1111%;
}

.col-10,.col-1-10 {
    width:10%;
}
.col-2-3{
    width:66.6666%;
}

.col-2-5{
    width:40%;
}

.col-2-7{
    width:28.5714%;
}

.col-2-9{
    width:22.2222%;
}

.col-3-4{
    width:75%;
}
.col-3-5{
    width:60%;
}

.col-3-7{
    width:42.8571%;
}
.col-3-8{
    width:37.5%;
}

.col-3-10{
    width:30%;
}

.col-4-5{
    width:80%;
}
.col-4-6{
    width:66.6666%;
}
.col-4-7{
    width:57.1428%;
}

.col-4-9{
    width:44.4444%;
}
.col-4-10{
    width:40%;
}

.col-5-6{
    width:83.3333%;
}
.col-5-7{
    width:71.4285%;
}
.col-5-8{
    width:62.5%;
}
.col-5-9{
    width:55.5555%;
}

.col-6-7{
    width:82.7142%;
}
.col-6-8{
    width:75%;
}
.col-6-9{
    width:66.6666%;
}
.col-6-10{
    width:60%;
}

.col-7-8{
    width:87.5%;
}
.col-7-9{
    width:77.7777%;
}
.col-7-10{
    width:70%;
}

.col-8-9{
    width:88.8888%;
}
.col-8-10{
    width:80%;
}

.col-9-10{
    width:90%;
}

/*--------------	Media queries	------------------*/
/*
    * < 568px
*/
@media screen and (max-width: 35.5em) {
.col-xs-1{
    width:100% !important;
}

.col-xs-hide{
    display:none !important;
}
.col-xs-show{
    display:block !important;
}

.col-xs-2, .col-xs-1-2, .col-xs-5-10, .col-xs-4-8, .col-xs-3-6, .col-xs-2-4{
    width:50%;
}

.col-xs-3, .col-xs-1-3, .col-xs-3-9, .col-xs-2-6{
    width:33.3333%;
}

.col-xs-4, .col-xs-1-4, .col-xs-2-8 {
    width:25%;
}

.col-xs-5, .col-xs-1-5, .col-xs-2-10 {
    width:20%;
}

.col-xs-6, .col-xs-1-6 {
    width:16.6666%;
}

.col-xs-7, .col-xs-1-7 {
    width:14.2857%;
}

.col-xs-8, .col-xs-1-8 {
    width:12.5%;
}

.col-xs-9, .col-xs-1-9 {
    width:11.1111%;
}

.col-xs-10, .col-xs-1-10{
    width:10%;
}

.col-xs-2-3{
    width:66.6666%;
}

.col-xs-2-5{
    width:40%;
}

.col-xs-2-7{
    width:28.5714%;
}

.col-xs-2-9{
    width:22.2222%;
}

.col-xs-3-4{
    width:75%;
}
.col-xs-3-5{
    width:60%;
}
.col-xs-3-7{
    width:42.8571%;
}
.col-xs-3-8{
    width:37.5%;
}

.col-xs-3-10{
    width:30%;
}

.col-xs-4-5{ width:80%;}
.col-xs-4-6{ width:66.6666%;}
.col-xs-4-7{ width:57.1428%;}

.col-xs-4-9{ width:44.4444%;}
.col-xs-4-10{ width:40%;}

.col-xs-5-6{ width:83.3333%;}
.col-xs-5-7{ width:71.4285%;}
.col-xs-5-8{ width:62.5%;}
.col-xs-5-9{ width:55.5555%;}

.col-xs-6-7{ width:82.7142%;}
.col-xs-6-8{ width:75%;}
.col-xs-6-9{ width:66.6666%;}
.col-xs-6-10{ width:60%;}

.col-xs-7-8{ width:87.5%;}
.col-xs-7-9{ width:77.7777%;}
.col-xs-7-10{ width:70%;}

.col-xs-8-9{ width:88.8888%;}
.col-xs-8-10{ width:80%;}

.col-xs-9-10{ width:90%;}
}

/*
    * <40em
*/
@media screen and (max-width: 40em) {
.leftquote {
    position: relative;
    left: 3%;
    top: 50px;
}

.rightquote {
    position: relative;
    right: 3%;
    top: 10px;
}

.lowercontent_full {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.lowercontent_border {
    border-right: none;
    border-bottom: 1px solid rgb(0,0,0);
}

.lowercontent_spacing {
    padding-bottom: 20px;
}
}
/*
	* > 568px e < 768
*/
@media (min-width: 35.5em) and (max-width: 48em) {
.col-sm-1
{ width:100% !important;}

.col-sm-hide{ display:none !important;}
.col-sm-show{ display:block !important;}

.col-sm-2,
.col-sm-1-2,
.col-sm-5-10,
.col-sm-4-8,
.col-sm-3-6,
.col-sm-2-4
{ width:50%;}

.col-sm-3,
.col-sm-1-3,
.col-sm-3-9,
.col-sm-2-6
{ width:33.3333%;}

.col-sm-4,
.col-sm-1-4,
.col-sm-2-8
{ width:25%;}

.col-sm-5,
.col-sm-1-5,
.col-sm-2-10
{ width:20%;}

.col-sm-6,
.col-sm-1-6
{ width:16.6666%;}

.col-sm-7,
.col-sm-1-7
{ width:14.2857%;}

.col-sm-8,
.col-sm-1-8
{ width:12.5%;}

.col-sm-9,
.col-sm-1-9
{ width:11.1111%;}

.col-sm-10,
.col-sm-1-10
{ width:10%;}

.col-sm-2-3{ width:66.6666%;}

.col-sm-2-5{ width:40%;}

.col-sm-2-7{ width:28.5714%;}

.col-sm-2-9{ width:22.2222%;}

.col-sm-3-4{ width:75%;}
.col-sm-3-5{ width:60%;}

.col-sm-3-7{ width:42.8571%;}
.col-sm-3-8{ width:37.5%;}

.col-sm-3-10{ width:30%;}

.col-sm-4-5{ width:80%;}
.col-sm-4-6{ width:66.6666%;}
.col-sm-4-7{ width:57.1428%;}

.col-sm-4-9{ width:44.4444%;}
.col-sm-4-10{ width:40%;}

.col-sm-5-6{ width:83.3333%;}
.col-sm-5-7{ width:71.4285%;}
.col-sm-5-8{ width:62.5%;}
.col-sm-5-9{ width:55.5555%;}

.col-sm-6-7{ width:82.7142%;}
.col-sm-6-8{ width:75%;}
.col-sm-6-9{ width:66.6666%;}
.col-sm-6-10{ width:60%;}

.col-sm-7-8{ width:87.5%;}
.col-sm-7-9{ width:77.7777%;}
.col-sm-7-10{ width:70%;}

.col-sm-8-9{ width:88.8888%;}
.col-sm-8-10{ width:80%;}

.col-sm-9-10{ width:90%;}
}

/*
	* > 768px e < 1024px
*/
@media (min-width: 48em) and (max-width: 64em) {
.col-md-1
{ width:100% !important;}

.col-md-hide{ display:none !important;}
.col-md-show{ display:block !important;}

.col-md-2,
.col-md-1-2,
.col-md-5-10,
.col-md-4-8,
.col-md-3-6,
.col-md-2-4
{ width:50%;}

.col-md-3,
.col-md-1-3,
.col-md-3-9,
.col-md-2-6
{ width:33.3333%;}

.col-md-4,
.col-md-1-4,
.col-md-2-8
{ width:25%;}

.col-md-5,
.col-md-1-5,
.col-md-2-10
{ width:20%;}

.col-md-6,
.col-md-1-6
{ width:16.6666%;}

.col-md-7,
.col-md-1-7
{ width:14.2857%;}

.col-md-8,
.col-md-1-8
{ width:12.5%;}

.col-md-9,
.col-md-1-9
{ width:11.1111%;}

.col-md-10,
.col-md-1-10
{ width:10%;}

.col-md-2-3{ width:66.6666%;}

.col-md-2-5{ width:40%;}

.col-md-2-7{ width:28.5714%;}

.col-md-2-9{ width:22.2222%;}

.col-md-3-4{ width:75%;}
.col-md-3-5{ width:60%;}

.col-md-3-7{ width:42.8571%;}
.col-md-3-8{ width:37.5%;}

.col-md-3-10{ width:30%;}

.col-md-4-5{ width:80%;}
.col-md-4-6{ width:66.6666%;}
.col-md-4-7{ width:57.1428%;}

.col-md-4-9{ width:44.4444%;}
.col-md-4-10{ width:40%;}

.col-md-5-6{ width:83.3333%;}
.col-md-5-7{ width:71.4285%;}
.col-md-5-8{ width:62.5%;}
.col-md-5-9{ width:55.5555%;}

.col-md-6-7{ width:82.7142%;}
.col-md-6-8{ width:75%;}
.col-md-6-9{ width:66.6666%;}
.col-md-6-10{ width:60%;}

.col-md-7-8{ width:87.5%;}
.col-md-7-9{ width:77.7777%;}
.col-md-7-10{ width:70%;}

.col-md-8-9{ width:88.8888%;}
.col-md-8-10{ width:80%;}

.col-md-9-10{ width:90%;}
}

/*
	* 1024px e 1280px
*/

@media (min-width: 64em) and (max-width: 80em) {
.col-lg-1
{ width:100% !important;}

.col-lg-hide{ display:none !important;}
.col-lg-show{ display:block !important;}

.col-lg-2,
.col-lg-1-2,
.col-lg-5-10,
.col-lg-4-8,
.col-lg-3-6,
.col-lg-2-4
{ width:50%;}

.col-lg-3,
.col-lg-1-3,
.col-lg-3-9,
.col-lg-2-6
{ width:33.3333%;}

.col-lg-4,
.col-lg-1-4,
.col-lg-2-8
{ width:25%;}

.col-lg-5,
.col-lg-1-5,
.col-lg-2-10
{ width:20%;}

.col-lg-6,
.col-lg-1-6
{ width:16.6666%;}

.col-lg-7,
.col-lg-1-7
{ width:14.2857%;}

.col-lg-8,
.col-lg-1-8
{ width:12.5%;}

.col-lg-9,
.col-lg-1-9
{ width:11.1111%;}

.col-lg-10,
.col-lg-1-10
{ width:10%;}

.col-lg-2-3{ width:66.6666%;}

.col-lg-2-5{ width:40%;}

.col-lg-2-7{ width:28.5714%;}

.col-lg-2-9{ width:22.2222%;}

.col-lg-3-4{ width:75%;}
.col-lg-3-5{ width:60%;}

.col-lg-3-7{ width:42.8571%;}
.col-lg-3-8{ width:37.5%;}

.col-lg-3-10{ width:30%;}

.col-lg-4-5{ width:80%;}
.col-lg-4-6{ width:66.6666%;}
.col-lg-4-7{ width:57.1428%;}

.col-lg-4-9{ width:44.4444%;}
.col-lg-4-10{ width:40%;}

.col-lg-5-6{ width:83.3333%;}
.col-lg-5-7{ width:71.4285%;}
.col-lg-5-8{ width:62.5%;}
.col-lg-5-9{ width:55.5555%;}

.col-lg-6-7{ width:82.7142%;}
.col-lg-6-8{ width:75%;}
.col-lg-6-9{ width:66.6666%;}
.col-lg-6-10{ width:60%;}

.col-lg-7-8{ width:87.5%;}
.col-lg-7-9{ width:77.7777%;}
.col-lg-7-10{ width:70%;}

.col-lg-8-9{ width:88.8888%;}
.col-lg-8-10{ width:80%;}

.col-lg-9-10{ width:90%;}
}

/*
	* ≥ 1280px
*/
@media (min-width: 80em){
.col-xl-1
{ width:100% !important;}

.col-xl-hide{ display:none !important;}
.col-xl-show{ display:block !important;}

.col-xl-2,
.col-xl-1-2,
.col-xl-5-10,
.col-xl-4-8,
.col-xl-3-6,
.col-xl-2-4
{ width:50%;}

.col-xl-3,
.col-xl-1-3,
.col-xl-3-9,
.col-xl-2-6
{ width:33.3333%;}

.col-xl-4,
.col-xl-1-4,
.col-xl-2-8
{ width:25%;}

.col-xl-5,
.col-xl-1-5,
.col-xl-2-10
{ width:20%;}

.col-xl-6,
.col-xl-1-6
{ width:16.6666%;}

.col-xl-7,
.col-xl-1-7
{ width:14.2857%;}

.col-xl-8,
.col-xl-1-8
{ width:12.5%;}

.col-xl-9,
.col-xl-1-9
{ width:11.1111%;}

.col-xl-10,
.col-xl-1-10
{ width:10%;}

.col-xl-2-3{ width:66.6666%;}

.col-xl-2-5{ width:40%;}

.col-xl-2-7{ width:28.5714%;}

.col-xl-2-9{ width:22.2222%;}

.col-xl-3-4{ width:75%;}
.col-xl-3-5{ width:60%;}

.col-xl-3-7{ width:42.8571%;}
.col-xl-3-8{ width:37.5%;}

.col-xl-3-10{ width:30%;}

.col-xl-4-5{ width:80%;}
.col-xl-4-6{ width:66.6666%;}
.col-xl-4-7{ width:57.1428%;}

.col-xl-4-9{ width:44.4444%;}
.col-xl-4-10{ width:40%;}

.col-xl-5-6{ width:83.3333%;}
.col-xl-5-7{ width:71.4285%;}
.col-xl-5-8{ width:62.5%;}
.col-xl-5-9{ width:55.5555%;}

.col-xl-6-7{ width:82.7142%;}
.col-xl-6-8{ width:75%;}
.col-xl-6-9{ width:66.6666%;}
.col-xl-6-10{ width:60%;}

.col-xl-7-8{ width:87.5%;}
.col-xl-7-9{ width:77.7777%;}
.col-xl-7-10{ width:70%;}

.col-xl-8-9{ width:88.8888%;}
.col-xl-8-10{ width:80%;}

.col-xl-9-10{ width:90%;}
}